<% provide(:title, "授業アドバイス") %>
<div id="fh5co-portfolio">
  <div class="container">
    <h1>授業アドバイス</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with model: @micropost, local: true do |f| %>
         <%= render 'shared/error_messages', object: f.object %>

         <div class = 'form-group'>
           <%= f.label :大学名 %> <span class="input-need">※記入例(〇〇大学)</span>
           <%= f.text_field :university, class: 'form-control' %>
         </div>

         <div class = 'form-group'>
           <%= f.label :学部名 %> <span class="input-need">※記入例(〇〇学部)</span>
           <%= f.text_field :faculty, class: 'form-control' %>
         </div>

         <div class = 'form-group'>
           <%= f.label :学科名 %> <span class="input-need">※記入例(〇〇学科)</span>
           <%= f.text_field :department, class: 'form-control' %>
         </div>

         <div class = 'form-group'> 
           <%= f.label :教授名 %> <span class="input-need">※記入例(〇〇教授)</span>
           <%= f.text_field :professor, class: 'form-control' %>
         </div>


         <div class = 'form-group'>
           <%= f.label :科目名 %>
           <%= f.text_field :subject, class: 'form-control' %>
         </div>

         <div class = 'form-group'>
           <%= f.label :授業アドバイス %>
           <%= f.text_area :content,  class: 'form-control' %>
         </div>

          <%= f.submit "投稿する", class: "btn btn-success" %>
          <span class="picture">
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </span>
         <% end %>
       </div>
     </div>
   </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
